# Pandas Lecture Note (Sections 1–2)

This notebook covers:

- **Section 1:** Constructing DataFrames (and Series vs DataFrame)
- **Section 2:** Subsetting and slicing using `customer.csv`

> **Colab note:** In Google Colab, update the `read_csv()` path to where your `customer.csv` is stored (e.g., in Google Drive).

# Section 1. Constructing DataFrames

## 1.1 Create a DataFrame from a dictionary of lists (most common)

A **DataFrame** is a **2D table** with **rows + columns** (similar to an Excel sheet).

A common way to build a DataFrame:
- Create a **dictionary**
- Each **key** becomes a **column name**
- Each **value** is a **list** (all lists must have the same length)

In [3]:
import pandas as pd #pd is an alias

# Dictionary of lists:
# - keys   -> column names
# - values -> lists of column values
data = {
    "customer_id": ["C001", "C002", "C003", "C004", "C005", "C006"],
    "customer": ["Alice", "Ben", "Chris", "Diana", "Ethan", "Fiona"],
    "total_order_price": [120.50, 89.99, 45.00, 210.25, 15.75, 62.40],
    "returned": [False, True, False, False, True, False]
}

df = pd.DataFrame(data) # DataFrame method converts a dict to a dataframe
df

  customer_id customer  total_order_price  returned
0        C001    Alice             120.50     False
1        C002      Ben              89.99      True
2        C003    Chris              45.00     False
3        C004    Diana             210.25     False
4        C005    Ethan              15.75      True
5        C006    Fiona              62.40     False

### DataFrame basics: `shape`, `columns`, `index`

In [4]:
# df.shape -> (number of rows, number of columns)
df.shape

(6, 4)

In [5]:
# df.columns -> column names
df.columns

Index(['customer_id', 'customer', 'total_order_price', 'returned'], dtype='object')

In [6]:
# df.index -> row labels (row labels are called the index)
df.index

RangeIndex(start=0, stop=6, step=1)

✅ **Important note about the index**

- In a DataFrame, **row labels are called the index**.
- Even if it looks like `0, 1, 2, ...`, it is still a **label**, not a real “data column”.
- In many business datasets, an ID (like `customer_id`) is often used as the index.

In [8]:
# set_index("customer_id"):
# - moves customer_id from a normal column to the index (row labels)
# - customer_id will no longer appear as a column unless we reset_index()
df2 = df.set_index("customer_id")
df2

            customer  total_order_price  returned
customer_id
C001           Alice             120.50     False
C002             Ben              89.99      True
C003           Chris              45.00     False
C004           Diana             210.25     False
C005           Ethan              15.75      True
C006           Fiona              62.40     False

### Quick note: `.loc` (label-based lookup)

`.loc[...]` selects rows by **label** (index label).

We will cover `.loc` and `.iloc` more deeply in Section 2 when we discuss **row subsetting/slicing**.

In [9]:
print(df2)

# .loc selects by LABEL (index label is "C003")
df2.loc["C003"]

            customer  total_order_price  returned
customer_id
C001           Alice             120.50     False
C002             Ben              89.99      True
C003           Chris              45.00     False
C004           Diana             210.25     False
C005           Ethan              15.75      True
C006           Fiona              62.40     False

customer             Chris
total_order_price     45.0
returned             False
Name: C003, dtype: object

In [10]:
# reset_index() returns a new DataFrame unless you assign it
df3 = df2.reset_index()
df3

  customer_id customer  total_order_price  returned
0        C001    Alice             120.50     False
1        C002      Ben              89.99      True
2        C003    Chris              45.00     False
3        C004    Diana             210.25     False
4        C005    Ethan              15.75      True
5        C006    Fiona              62.40     False

## 1.2 Series vs DataFrame (and what about the index?)

### Big picture
- **Series** = **1D** data (like one column) + **index (row labels)**
- **DataFrame** = **2D** table + **index (row labels)** + **columns (column labels)**

### 1.2.1 Create a Series (simple example)

In [ ]:
# A Series is 1D: values + index (row labels)
prices = pd.Series(
    [120.50, 89.99, 45.00],
    index=["C001", "C002", "C003"]  # index = row labels
)

prices

C001    120.50
C002     89.99
C003     45.00
dtype: float64

In [ ]:
# Series also has an index (row labels)
prices.index

Index(['C001', 'C002', 'C003'], dtype='object')

### 1.2.2 Create a Series from a dictionary

When you create a Series from a dictionary:
- dictionary **keys** become the **index**
- dictionary **values** become the **data**

In [11]:
# keys become the index (row labels)
prices2 = pd.Series({
    "C001": 120.50,
    "C002": 89.99,
    "C003": 45.00
})

prices2

C001    120.50
C002     89.99
C003     45.00
dtype: float64

In [ ]:
prices2.index

Index(['C001', 'C002', 'C003'], dtype='object')

### 1.2.3 One column from a DataFrame becomes a Series

**Point:** A DataFrame has multiple columns. If you select one column, you get a Series.

In [13]:
df_small = pd.DataFrame({
    "customer": ["Alice", "Ben", "Chris"],
    "total_order_price": [120.50, 89.99, 45.00]
}, index=["C001", "C002", "C003"])  # index = row labels

df_small

     customer  total_order_price
C001    Alice             120.50
C002      Ben              89.99
C003    Chris              45.00

In [ ]:
# DataFrame row labels are called the index
df_small.index

Index(['C001', 'C002', 'C003'], dtype='object')

In [15]:
# One bracket -> Series
col_series = df_small["total_order_price"]
print(col_series)

print(type(col_series))

C001    120.50
C002     89.99
C003     45.00
Name: total_order_price, dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
col_series

C001    120.50
C002     89.99
C003     45.00
Name: total_order_price, dtype: float64

In [ ]:
# The Series keeps the same row labels (index)
col_series.index

Index(['C001', 'C002', 'C003'], dtype='object')

In [16]:
# Double brackets -> DataFrame
col_df = df_small[["total_order_price"]]
print(type(col_df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
col_df

      total_order_price
C001             120.50
C002              89.99
C003              45.00

✅ **Index reminder**
- For a **DataFrame**, **row labels are the index** (`df.index`)
- For a **Series**, labels are also the **index** (`series.index`)

## ✅ Practice 1 (Section 1: DataFrame + Series basics)

Try these short questions. **Answers are shown right below each question.**

### Q1) Create a DataFrame (from a dictionary of lists)
Create a DataFrame named `df_practice` with 3 rows and these columns:
- `Name`
- `Age`
- `Income`

**Answer**
```python
df_practice = pd.DataFrame({
    "Name": ["Amy", "Brian", "Chris"],
    "Age": [20, 22, 21],
    "Income": [50000, 65000, 72000]
})

df_practice
```

### Q2) Series vs DataFrame (single column selection)
Using `df_small` from **Section 1.2.3**, check the type of:
- `df_small["total_order_price"]`
- `df_small[["total_order_price"]]`

**Answer**
```python
print(type(df_small["total_order_price"]))      # Series
print(type(df_small[["total_order_price"]]))    # DataFrame
```

### Q3) Index reminder
What does `.index` mean for a DataFrame and for a Series?

**Answer**
- For a **DataFrame**, `.index` = the **row labels**  
- For a **Series**, `.index` = the **labels of the Series values**

In [19]:
#Answer for the question 1

df_q1 = pd.DataFrame({
    "Name": ["Amy", "Brian", "Chris"],
    "Age": [20, 22, 21],
    "Income": [50000, 65000, 72000]
}
)
df_q1

    Name  Age  Income
0    Amy   20   50000
1  Brian   22   65000
2  Chris   21   72000

In [20]:
# Retrieve "Age" column from the dataframe  --> column subsetting/slicing

df_q1["Age"]  #returns a series or dataframe? --> series

0    20
1    22
2    21
Name: Age, dtype: int64

In [21]:
df_q1[["Age"]]

   Age
0   20
1   22
2   21

In [26]:
df100 = df_q1['Age']
df100.shape

(3,)

In [22]:
df_q1.shape

(3, 3)

# Section 2. Subsetting and Slicing (using `customer.csv`)

In this section, **all examples use `customer.csv`**.

## 2.1 Read `customer.csv` and do a quick check

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

# In Colab, replace with your Drive path, for example:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Teaching/4510/LectureNote/Pandas-Data-Management/customer.csv")


df.head()

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [ ]:
# (rows, columns)
df.shape

(219, 14)

In [ ]:
# Quick numeric summary (Pandas automatically summarizes numeric columns)
df.describe()

,CustID,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast
count,2.190000e+02,219.000000,219.000000,219.000000,212.000000,214.000000,219.000000,219.000000
mean,1.557781e+06,3.086758,90034.068493,73036.529680,644.962264,648.607477,10.844749,184.958904
std,1.424019e+04,1.429300,18.970519,24060.293889,396.516608,348.058526,9.329523,100.830374
min,1.530016e+06,1.000000,90001.000000,31000.000000,42.000000,50.000000,1.000000,6.000000
25%,1.546122e+06,2.000000,90018.000000,54000.000000,331.750000,372.500000,4.000000,102.000000
50%,1.557181e+06,3.000000,90032.000000,70000.000000,587.500000,626.000000,9.000000,181.000000
75%,1.571437e+06,4.000000,90050.000000,91500.000000,883.250000,943.250000,15.000000,266.000000
max,1.579979e+06,5.000000,90068.000000,167000.000000,1851.000000,1250.000000,89.000000,360.000000

## 2.2 Row subsetting / slicing (loc, iloc, boolean filtering)

### 2.2.1 `.iloc` = integer position-based

`.iloc` uses **positions**: 0th row, 1st row, 2nd row, ...

In [ ]:
# First row by position
df.iloc[0]

CustID                     1530016
Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 0, dtype: object

In [ ]:
# First 5 rows by position (0,1,2,3,4)
df.iloc[0:5]

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [ ]:
# Specific rows by position
df.iloc[[0, 3, 10]]  #multiple rows --> use double brackets!!

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
10,1533791,Male,White,10/27/1999,Yes,1,90060,97000,828.0,1028.0,17,110,Very Dissatisfied,Web

### 2.2.2 `.loc` = label-based (IMPORTANT: 0,1,2 are labels, not “numbers”)

`.loc` selects by **label** (index label).

When your DataFrame has the default index, the labels look like `0, 1, 2, ...` — but **they are still labels**, not “row numbers”.

In [ ]:
# Check the row labels (index)
df.index

RangeIndex(start=0, stop=219, step=1)

In [ ]:
# .loc uses LABELS (index labels)
df.loc[0]

CustID                     1530016
Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 0, dtype: object

In [ ]:
# .iloc uses POSITIONS (0th row, 1st row, ...)
df.iloc[0]

CustID                     1530016
Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 0, dtype: object

✅ With the default index, **label 0 happens to match position 0**, so `.loc[0]` and `.iloc[0]` often return the same row.

But they are conceptually different.

### Slicing difference (common confusion)
- `.iloc[a:b]` excludes `b`
- `.loc[a:b]` includes `b` (because these are labels)

In [ ]:
# iloc: stop is EXCLUDED
df.iloc[0:4]   # positions 0,1,2,3

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM

In [ ]:
# loc: stop is INCLUDED (because these are labels)
df.loc[0:4]    # labels 0,1,2,3,4

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
2,1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
3,1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

### 2.2.3 Show the REAL difference: set `CustID` as the index

Now `.loc[...]` uses **CustID labels**, while `.iloc[...]` still uses **positions**.

In [ ]:
# Make CustID the index (row labels)
df_id = df.set_index("CustID")
df_id.head()

,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
CustID,,,,,,,,,,,,,
1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
1532160,Male,Black,5/22/1966,Yes,2,90027,64000,523.0,719.0,9,122,Very Satisfied,TV
1532307,Male,White,9/16/1964,Yes,4,90029,60000,516.0,582.0,13,129,Very Dissatisfied,SM
1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web

In [ ]:
# Now labels are customer IDs (not 0,1,2,...)
df_id.index

Index([1530016, 1531136, 1532160, 1532307, 1532356, 1532387, 1533017, 1533561,
       1533697, 1533766,
       ...
       1577095, 1577691, 1577940, 1578327, 1578472, 1578525, 1579349, 1579389,
       1579857, 1579979],
      dtype='int64', name='CustID', length=219)

In [ ]:
# loc: label-based (CustID label)
df_id.loc[1530016]

Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 1530016, dtype: object

In [ ]:
# iloc: position-based (first row in the table)
df_id.iloc[0]

Sex                         Female
Race                         Black
BirthDate               12/16/1986
College                        Yes
HouseholdSize                    5
ZipCode                      90047
Income                       53000
Spending2020                 287.0
Spending2021                 241.0
NumOfOrders                      3
DaysSinceLast                  101
Satisfaction     Very Dissatisfied
Channel                         SM
Name: 1530016, dtype: object

In [ ]:
# This would FAIL because label 0 does not exist anymore:
df_id.loc[0]   #Error!!!!!!!!

KeyError: 0

✅ **Summary**
- `.loc` → **label-based**
- `.iloc` → **position-based**

### 2.2.4 Boolean row filtering (very important)

This is how we “filter customers” based on conditions.

In [ ]:
# Customers with high income
high_income = df[df["Income"] >= 80000]
high_income.head()

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
1,1531136,Male,White,5/9/1993,Yes,5,90026,94000,1227.0,843.0,12,262,Neutral,TV
6,1533017,Female,Hispanic,5/14/1985,Yes,3,90063,84000,229.0,153.0,2,144,Very Satisfied,Web
10,1533791,Male,White,10/27/1999,Yes,1,90060,97000,828.0,1028.0,17,110,Very Dissatisfied,Web
12,1534502,Male,Hispanic,12/26/1989,Yes,2,90056,114000,938.0,665.0,7,262,Very Dissatisfied,TV
13,1534928,Male,Hispanic,1/18/1959,Yes,5,90033,96000,631.0,796.0,13,68,Neutral,Referral

In [ ]:
# Customers who purchased recently (small DaysSinceLast)
recent = df[df["DaysSinceLast"] <= 30]
recent.head()

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
11,1533917,Female,Black,3/3/1993,Yes,3,90045,64000,768.0,915.0,15,19,Very Satisfied,Referral
28,1540183,Male,White,2/27/1991,Yes,1,90066,91000,1018.0,800.0,10,6,Somewhat Satisfied,Web
31,1540604,Female,White,4/22/1970,Yes,3,90011,73000,428.0,539.0,5,12,Very Satisfied,Web
38,1543502,Male,Hispanic,4/6/1982,Yes,2,90007,55000,461.0,563.0,12,17,Somewhat Satisfied,SM
48,1544628,Male,White,9/15/1983,Yes,3,90021,69000,215.0,173.0,3,11,Somewhat Satisfied,Web

✅ **Multiple conditions**
- Use `&` for AND, `|` for OR
- Put each condition in parentheses

In [ ]:
# Female AND College = Yes
female_college = df[(df["Sex"] == "Female") & (df["College"] == "Yes")]
female_college.head()

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
0,1530016,Female,Black,12/16/1986,Yes,5,90047,53000,287.0,241.0,3,101,Very Dissatisfied,SM
6,1533017,Female,Hispanic,5/14/1985,Yes,3,90063,84000,229.0,153.0,2,144,Very Satisfied,Web
8,1533697,Female,Asian,10/8/1974,Yes,3,90038,42000,300.0,247.0,3,238,Very Satisfied,Web
11,1533917,Female,Black,3/3/1993,Yes,3,90045,64000,768.0,915.0,15,19,Very Satisfied,Referral
14,1535063,Female,White,12/17/1982,Yes,3,90024,42000,341.0,313.0,4,300,Very Dissatisfied,TV

In [ ]:
# Female OR College = Yes (either condition is enough)
female_or_college = df[(df["Sex"] == "Female") | (df["College"] == "Yes")]
female_or_college.head()

In [ ]:
# Income between 50000 and 80000 (inclusive)
# Use two comparisons + & (AND)
mid_income = df[(df["Income"] >= 50000) & (df["Income"] <= 80000)]
mid_income.head()

In [ ]:
# Channel is Web OR TV (same idea as "isin", but using OR)
selected_channels = df[(df["Channel"] == "Web") | (df["Channel"] == "TV")]
selected_channels.head()

In [ ]:
# NOT condition: customers who are NOT in College = Yes
not_college_yes = df[~(df["College"] == "Yes")]
not_college_yes.head()

,CustID,Sex,Race,BirthDate,College,HouseholdSize,ZipCode,Income,Spending2020,Spending2021,NumOfOrders,DaysSinceLast,Satisfaction,Channel
4,1532356,Female,Hispanic,7/15/1964,No,5,90017,47000,555.0,845.0,7,97,Very Dissatisfied,Web
15,1535406,Male,White,2/4/1984,No,5,90051,55000,129.0,100.0,1,80,Very Dissatisfied,Web
16,1535449,Male,Black,9/21/1958,No,2,90062,56000,435.0,384.0,6,180,Very Dissatisfied,TV
20,1537373,Female,Black,1/20/1972,No,5,90035,44000,615.0,748.0,15,295,Very Satisfied,Web
21,1537553,Female,White,7/7/1961,No,4,90060,36000,153.0,141.0,2,360,Very Satisfied,TV

## ✅ Practice 2 (Section 2.2: Row subsetting / slicing)

These are a little harder. **Answers are shown right below each question.**

### Q1) First 3 rows (without `.iloc`)
Select the **first 3 rows** and show only these columns:
- `Income`
- `Channel`

**Answer**
```python
df[["Income", "Channel"]].head(3)
```

### Q2) `.loc` with `CustID` as the index (label-based)
Using `df_id` (from Section 2.2.3), select the row for the **second** customer ID.

**Answer**
```python
second_id = df_id.index[1]
df_id.loc[second_id]
```

### Q3) Boolean filtering with **AND** (`&`)
Filter customers who satisfy **both**:
- `Income` ≥ 90000  
- `DaysSinceLast` ≤ 30

**Answer**
```python
df[(df["Income"] >= 90000) & (df["DaysSinceLast"] <= 30)].head()
```

### Q4) Combine **OR** (`|`) + a range condition
Filter customers who satisfy:
- `Channel` is **Web OR TV**
- `Income` is between **50000 and 80000** (inclusive)

**Answer**
```python
df[
    ((df["Channel"] == "Web") | (df["Channel"] == "TV"))
    & (df["Income"] >= 50000)
    & (df["Income"] <= 80000)
].head()
```

## 2.3 Column subsetting (single column, multiple columns)

### 2.3.1 Single-Column Subsetting

*   dataframe_variable['column_name'] returns a Series (1D)
*   dataframe_variable[['column_name']] returns a dataframe (2D)
*   Both returns the same result in apperance. However, you should be aware that they are not exactly same (types are different).

In [ ]:
# example:
df["Income"] # returns a single column with the data type Series

In [ ]:
df[['Income']] # returns a single column with data type dataframe

In [ ]:
df['Spending2020'] #returns a single column (spending2020)

0       287.0
1      1227.0
2       523.0
3       516.0
4       555.0
        ...
214       NaN
215     217.0
216     625.0
217     325.0
218    1080.0
Name: Spending2020, Length: 219, dtype: float64

### 2.3.2 Single-column subsetting + basic statistics

`df["Income"]` returns a **Series** (1D).  
You can call common statistics methods directly:

In [ ]:
df["Income"].min()

In [ ]:
df["Income"].max()

In [ ]:
df["Income"].mean()

In [ ]:
df["Income"].sum()

You can also use **double brackets** to keep it as a one-column **DataFrame** (2D):

In [ ]:
df[["Income"]].min()

In [ ]:
df[["Income"]].max()

### 2.3.2 Multiple-column subsetting --> [[ col-name1, col-name2, ....]]

*   Use a list of column names to select multiple columns.

*   Must use double square brackets: [[ col-name1, col-name2, .... ]]

In [ ]:
df_small_cols = df[["CustID", "Income", "Channel"]] #returns a dataframe with three columns
df_small_cols.head()

    CustID  Income Channel
0  1530016   53000      SM
1  1531136   94000      TV
2  1532160   64000      TV
3  1532307   60000      SM
4  1532356   47000     Web

## ✅ Practice 3 (Section 2.3: Column subsetting)

### Q1) Series vs DataFrame (single column)
Check the type of:
- `df["Income"]`
- `df[["Income"]]`

**Answer**
```python
print(type(df["Income"]))     # Series
print(type(df[["Income"]]))   # DataFrame
```

### Q2) Max and average of a column
Find:
1. The **maximum** value of `Spending2020`
2. The **average (mean)** value of `Spending2020`

**Answer**
```python
df["Spending2020"].max()
df["Spending2020"].mean()
```